<footer class="page-footer font-small bg-light pt-4">

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4>Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://facebook.com/" target="_blank" class="icoFacebbok">
                    <i class="fab fa-facebook"></i>
                    </a> 
                </li>

                <li>
                    <a href="https://instagram.com/" target="_blank" class="icoInstagram">
                        <i class="fab fa-instagram"></i>
                    </a> 
                </li>

                <li>
                    <a href="https://linkedin.com/" target="_blank" class="icoLinkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a> 
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-copyright bg-danger text-center py-3">
    <span class="text-white">
        © 2021 Copyright:
        <a href="https://www.linkedin.com/in/gabriela-da-costa-rodrigues-05688381/" class="text-white" target="_blank">
        Gabriela Rodrigues </a>
    </span>

</div>


</footer>
