<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="{{photo}}" alt="" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="n-0 font-weight-bold font-italic text-danger fs-13">Olá, {{name}}</p>
        </li>

        <li class="nav-item pl-3">
            <a [routerLink]="['/user-edit', id]">
                <p> 
                    <i class="fas fa-edit text-muted fs-13"></i>
               </p> 
            </a>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a (click) = 'sair()' class="n-0 font-weight-bold font-italic text-danger fs-13"><i class="fas fa-sign-out-alt"></i></a>
              </li>
        </ul>
    </div>
  </nav>